<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- THIS IS A SIMPLE DEMONSTRATION OF THE LIVEKITCHEN SYSTEM USING WEBSOCKETS. IT IS MEANT FOR CLIENT-APP DEVELOPERS TO 
			 GRASP HOW TO INTERFACE WITH THE LIVEKITCHEN ON THEIR END.
		-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Customer 1 - My Order</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
		integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		</head>
		<body>
			<script>
				window.onload=function(){
					const query = 'customerId='.concat('rksHeEtAW');
					const socket = io.connect("http://localhost:3000/", { query });

					// This stuff is just for visualising the LiveKitchen system
					const btn = document.getElementById('send');
					const output = document.getElementById('output');

					/**
						MOCK ORDER DATA
					**/ 	
					const restaurantId = 'SkxjHgNYRb';
					const token = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhbGdvcml0aG0iOiJIUzI1NiIsImlzc3VlciI6Imh0dHA6Ly9hcGkud2FpdGVyLmNvbSIsImlhdCI6MTUwNzIzNjc5MjU4MSwiZXhwIjoxNTA3ODQxNTkyNTgxLCJ1c2VySWQiOjEsInVzZXJSb2xlIjoyMDB9.tNkcHIq988_UGB5062Emb-sPVFXAkFnjAkWUu7JO1sw';
					const items = [

						{
							itemId: 'ByukFl6Rb',
							name: 'Serloin steak',
							price: 11.00
						},
						{
							itemId: 'HyjJvthAW',
							name: 'Prawn cocktail',
							price: 4.50
						},
					];

					/**
						3) Send the order to the server 
					**/
					btn.addEventListener('click', function() {
						socket.emit('processRefund', {
							headers: {
								token: token
							},
							metaData: {
								dcustomerId: customerId,
								drestaurantId: restaurantId,
								tableNo: Math.floor(Math.random() * 50) + 1 ,
								price: 15.00,
								time: new Date().getTime()
							},
							items: items
						});
					});

					socket.on('orderStatusUpdated', function(orderStatus) {
						output.innerHTML = orderStatus.userMsg; // e.g. "accepted"
					});

					socket.on('disconnect', function() {
						output.innerHTML = '<p>Your order is unauthorised - you have been disconnected from LiveKitchen.</p>';
					});
				}
			</script>
			<div class="container">
				<div class="row justify-content-center title-row">
					<div class="col-xs-10">
						<h1 class="welcome">Live Kitchen Tester</h1>
						<button id="send">Send</button>
						<div id="output">Place an order</div>
					</div>
			</div>
  	</body>
</html>